div {
    background-color: lightgrey;
    width: 1000px;
    border: 25px Solid Purple;
    padding: 25px;
    margin: 25px;
}
p {
    font-family: "Sans-serif", Arial, Verdana;
}


img {
    float: right;
    margin: 0 0 500px 500px;
}
